extends layout

block abovethefold
  .home-hero
    .wrapper
      .group
        h1.come-together A&nbsp;mix&nbsp;of&nbsp;crafts&nbsp;that&nbsp;come&nbsp;together.
        h3 Culinary Lamb #[span + ] Artisinal Herbs #[span + ] Stock Dog Training

block content

  .wrapper.content

    h1 Welcome To Tango Farms

    p Before they sold out photo booth gastropub, meggings plaid Blue Bottle aesthetic scenester butcher Odd Future meditation try-hard squid. Deep v Neutra pour-over sartorial food truck pickled, trust fund literally cornhole cardigan post-ironic ennui mlkshk cray meditation. 8-bit viral gastropub kale chips 90's normcore McSweeney's. Farm-to-table stumptown Shoreditch, leggings biodiesel kogi forage bespoke DIY gentrify. Trust fund Pitchfork 8-bit, freegan pork belly cornhole VHS butcher selfies Wes Anderson slow-carb pour-over pug cold-pressed letterpress. Retro actually crucifix iPhone American Apparel. Raw denim pork belly irony, health goth keytar vinyl artisan literally selfies mustache roof party wayfarers.

    .split
      p 3 wolf moon taxidermy selfies food truck irony retro. Neutra tousled Austin umami distillery hella. Intelligentsia typewriter vinyl hoodie, street art bitters small batch bespoke mixtape disrupt ennui. Gluten-free swag yr, fashion axe cornhole disrupt plaid jean shorts tilde viral post-ironic. Shoreditch letterpress Williamsburg Helvetica PBR. Kitsch chillwave PBR&B fashion axe. Shabby chic cliche small batch, Cosby sweater street art heirloom put a bird on it.

      p Helvetica chia meditation, Truffaut distillery raw denim messenger bag chambray PBR&amp;B swag DIY letterpress. Typewriter master cleanse +1 Thundercats. Freegan salvia literally, tofu ugh Pinterest Thundercats typewriter pour-over cred fashion axe. Neutra Odd Future farm-to-table pour-over, mixtape squid food truck bicycle rights single-origin coffee Intelligentsia typewriter narwhal. Synth hella shabby chic, Tumblr heirloom selfies four loko brunch Truffaut. Vinyl craft beer Banksy Odd Future American Apparel. Freegan ennui meditation before they sold out.

    p Paleo fashion axe ethical plaid gastropub fingerstache. Sartorial craft beer fanny pack photo booth. Banjo vegan disrupt letterpress gluten-free, cred cornhole quinoa drinking vinegar gentrify tote bag. VHS next level farm-to-table, before they sold out keytar umami direct trade. Banksy small batch forage retro synth, authentic literally fanny pack flexitarian trust fund pickled master cleanse. Banh mi Odd Future XOXO, Thundercats +1 cornhole Blue Bottle deep v yr brunch roof party chia. XOXO deep v plaid authentic +1.
