
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Neucha);

@import 'golden-grid-system.less';
@import 'navbar.less';

body {
  padding: 50px;
  font: 16px "Open Sans Condensed", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica";
  font-weight: 800;
}


a {
  color: #00B7FF;
}

.hero {
  h1 {font-family: "Neucha", 'Helvetica Neue', Helvetica;}
  background-color: #eee;
}