
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Neucha|Raleway);

// semantic grid system
@import 'variables.less';
@import 'semantic.gs.less';
@import 'navbar.less';
@import "animations.less";

body {
  font: 16px "Open Sans Condensed", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  padding: 0 0;
  margin: 0 0;
}
div { padding: 0 0; margin: 0 0;}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica";
  font-weight: 600;
}

@breakpoints: '1440px', '1026px', '912px', '768px', '540px' ;



a {
  color: #00B7FF;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.hero {
    @size: 5;
    background-size: cover;
    min-height: @hero-size;
    background-color: #fff;
    color: @hero-color;

    h1 {
      //font-family: "Neucha", 'Helvetica Neue', Helvetica;

      margin: 0 auto;
      font-size: @size * 1em;
      font-weight: 800;
      padding-top: (@hero-size - (@base-font-size * @size)) / 2.5;
    }

    h3, h2 {
        font-family: "Neucha", 'Helvetica Neue', Helvetica;
        font-size: (@size / 3 ) * 1em;
        span { color: #b96;}
    }
    ul.products {
      list-style-type: none;
      li {
        font-family: "Neucha", 'Helvetica Neue', Helvetica;
        font-size: (@size / 3 ) * 1em;
        &:before {
          content:"♥";
          color: #aa5;
          padding-right: 10px;
        }
        &:hover {
          &:before {color: #aa5;}
        }
      }
    }
}


.tools {
  .hero;
  background-image: url(@hero-image);
}


ul.products {
      list-style-type: none;
      li {
        font-family: "Neucha", 'Helvetica Neue', Helvetica;
        font-size: 2em;
        &:before {
          content:"♥";
          color: #b96;
          padding-right: 10px;
        }
        &:hover {
          &:before {color: #aa5;}
        }
      }
    }