/* * * * * * * * * * * * * * * * * *
            Basic
 * * * * * * * * * * * * * * * * * */


@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Neucha|Lato:100,300,400,900);


//@hero-image: '/images/stock/agriculture-field-forest-1686.jpg';
@index-hero-image: '/images/stock/cooking-food-homemade-3329.jpg';
@products-hero-image: '/images/stock/carrot-cooking-eat-1398.jpg';
@training-hero-image: '/images/dogs/Chico Stock Dogs-0008.jpg';
@contact-hero-image: '/images/stock/tools.jpg';


.primary-font() {
  font-family: "Open Sans Condensed", "Helvetica", sans-serif;
}

.secondary-font() {
  font-family: "Lato", "Helvetica", sans-serif;
}


@hero-size: 600px;
@base-font-size: 16px;
@hero-color: #fff; //#581;






/* * * * * * * * * * * * * * * * * *
            Navbar
 * * * * * * * * * * * * * * * * * */

@navbar-text-color: #fff;
@navbar-text-color--hover: #dfd;
@navbar-background-color: transparent ;//rgba(@c,@c,@c,0.15);
@navbar-background-color--hover: transparent ; //rgba(@c,@c,@c,0.25);

@navbar-height: 50px;
@navbar-fontsize: 18px;
@navlink-padding-x: 9px;
@navlink-padding-y: (@navbar-height - @navbar-fontsize) / 2;

@wrapper-width: 768px;
@navbar-items: 4;
@breakpoint-tablet: 768px; // ipad 768px