/* * * * * * * * * * * * * * * * * *
            Basic
 * * * * * * * * * * * * * * * * * */



//@hero-image: '/images/stock/agriculture-field-forest-1686.jpg';
@index-hero-image: '/images/stock/cooking-food-homemade-3329.jpg';
@products-hero-image: '/images/stock/carrot-cooking-eat-1398.jpg';
@training-hero-image: '/images/stock/cooking-food-homemade-3329.jpg';
@contact-hero-image: '/images/stock/tools.jpg';

@hero-size: 600px;
@base-font-size: 16px;
@hero-color: #fff; //#581;


/* * * * * * * * * * * * * * * * * *
            Navbar
 * * * * * * * * * * * * * * * * * */

@c: 255;
@navbar-text-color: #fff;
@navbar-text-color--hover: #fff;
@navbar-background-color: transparent ;//rgba(@c,@c,@c,0.15);
@navbar-background-color--hover: transparent ; //rgba(@c,@c,@c,0.25);

@navbar-height: 50px;
@navbar-fontsize: 18px;
@navlink-padding-x: 9px;
@navlink-padding-y: (@navbar-height - @navbar-fontsize) / 2;

@wrapper-width: 768px;
@navbar-items: 4;
@breakpoint-tablet: 768px; // ipad 768px